<h2>Registrarse</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form-control mb-3' %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class:'form-control mb-3' %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:'form-control mb-3' %>
  </div>

  <div class="actions">
    <%= f.submit "Registrarse", class:'btn btn-success mt-3 mb-2' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<!-- Contact-->
<h4 class="mt-4 pt-4 mb-4 pb-4">¿Necesita ayuda adicional?</h4>
<%= render "shared/contact" %>