<div id="<%= dom_id car %>">
  <%= form_with url: cars_path, method: :get do |form| %>
            <%= form.text_field :query_text, value: params[:query_text]%>
            <%= form.submit "Buscar"%>
  <%end%>
  
  <p>
    <strong>Year production:</strong>
    <%= car.year_production %>
  </p>

  <p>
    <strong>Driving range:</strong>
    <%= car.driving_range %>
  </p>

  <p>
    <strong>Rental price:</strong>
    <%= car.rental_price %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= car.image %>
  </p>

  <p>
    <strong>Rented:</strong>
    <%= car.rented %>
  </p>

  <p>
    <strong>User:</strong>
    <%= car.user_id %>
  </p>

  <p>
    <strong>Modelcar:</strong>
    <%= car.modelcar_id %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= car.brand_id %>
  </p>

  <p>
    <strong>Feature:</strong>
    <%= car.feature_id %>
  </p>

  <div style="display: flex; justify-content: center;">
    <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
  </div>

</div>
