<div id="<%= dom_id car %>">
  <p>
    <strong>Year production:</strong>
    <%= car.year_production %>
  </p>

  <p>
    <strong>Driving range:</strong>
    <%= car.driving_range %>
  </p>

  <p>
    <strong>Rental price:</strong>
    <%= car.rental_price %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= car.image %>
  </p>

  <p>
    <strong>Rented:</strong>
    <%= car.rented %>
  </p>

  <p>
    <strong>User:</strong>
    <%= car.user_id %>
  </p>

  <p>
    <strong>Modelcar:</strong>
    <%= car.modelcar_id %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= car.brand_id %>
  </p>

  <p>
    <strong>Feature:</strong>
    <%= car.feature_id %>
  </p>

</div>
