<%= form_with(model: car) do |form| %>
  <% if car.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
        <% car.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :year_production, 'Año de Fabricación', style: "display: block" %>
    <%= form.date_field :year_production,
    autofocus: true,
    required: true %>
  </div>

  <div>
    <%= form.label :driving_range, 'Rango de Conducción', style: "display: block" %>
    <%= form.number_field :driving_range, 
    required: true,
    min: 0 %>
  </div>

  <div>
    <%= form.label :rental_price, 'Precio de Alquiler por Día', style: "display: block" %>
    <%= form.number_field :rental_price, 
    required: true,
    min: 0 %>
  </div>

  <div>
    <%= form.label :image, 'Imagen',style: "display: block" %>
    <%= form.file_field :image, accept: "image/*" %>
  </div>

  <div>
    <%= form.label :rented, '¿Rentado?',style: "display: block" %>
    <%= form.select :rented, [['Sí', true], ['No', false]], {}, { include_blank: 'Seleccione...' } %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id, value: current_user.id %>
  </div>

  <div>
    <%= form.label :modelcar_id, style: "display: block" %>
    <%= form.collection_select :modelcar_id, Modelcar.all, :id, :name, { include_blank: 'Seleccione...' }%>
  </div>

  <div>
    <%= form.label :brand_id, style: "display: block" %>
    <%= form.collection_select :brand_id, Brand.where(available:true), :id, :name %>
  </div>

  <div>
    <%= form.label :feature_id, style: "display: block" %>
    <%= form.collection_check_boxes :feature_id, Feature.where(available:true), :id, :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
